<!DOCTYPE html>
<html>
    <head>
    
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock %} - My Webpage</title>
        {% block stylesheets %}
          <link href="{{ asset('css/styles.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <h1>{{ title }}</h1>
        
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
